<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Klean - Cleaning Services Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <link href="{{url_for('static',filename='css/style.min.css')}}" rel="stylesheet">

</head>

<body>
    
    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container">

            <div class="row">
                {% for doctor in doctors %}
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="position-relative mb-4">
                        <img class="img-fluid rounded w-100" src="{{doctor['image']}}" alt="photo">
                    </div>
                    <div class="d-flex mb-2">
                        <a class="text-secondary text-uppercase font-weight-medium" href="{{doctor['region']}}">{{doctor['region']}}</a>
                        <span class="text-primary px-2">|</span>
                        <a class="text-secondary text-uppercase font-weight-medium" href="{{doctor['kasb']}}">{{doctor['kasb']}}</a>
                    </div>
                    <h5 class="font-weight-medium mb-2">{{doctor['name']}}</h5>
                    <p class="mb-4">{{doctor['bio']}}</p>
                    <a class="btn btn-sm btn-primary py-2" href="{{doctor['page']}}">Shaxsiy sahifa</a>
                </div>
                {% endfor %}
               
            </div>
        </div>
    </div>
    <!-- Blog End -->

</body>

</html>